@using Microsoft.AspNet.Identity
<ul class="nav navbar-nav">
    <li class="nav-item dropdown">
        <a href="" class="nav-link dropdown-toggle" id="supportedContentDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a href="@Url.Action("Index", "Home")">
                    <span class="glyphicon glyphicon-home"></span> Main
                </a>
            </li>
            <li>
                <a href="@Url.Action("Popular", "Search", new { page = 1 })">
                    <span class="glyphicon glyphicon-fire"></span> In Tread
                </a>
            </li>
            
            @if (Request.IsAuthenticated)
            {
                <li>
                    <a href="@Url.Action("ChannelProfile", "Channel", new { id = User.Identity.GetUserId() })">
                        <span class="glyphicon glyphicon-user"></span> My Channel
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Subscriptions", "Channel", new { page = 1 })">
                        <span class="glyphicon glyphicon-film"></span> Subscribtions
                    </a>
                </li>
            }

            <li class="divider"></li>
            <li class="dropdown-header">Categories</li>
            
            @foreach (string category in MyTube.WEB.Models.GlobalVariables.Categories)
            {
                <li>
                    @Html.ActionLink(category, "Category", "Search", new { parametr = category, page = 1 }, null)
                </li>
            }

        </ul>
    </li>
</ul>
