@if (ViewBag.PageCount > 1)
{
    <nav aria-label="Page navigation">
        <ul id="pagination" class="pagination" data-current-page="@ViewBag.Page">
            @if (ViewBag.Page == 1)
            {
                <li class="disabled">
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            }
            else
            {
                <li>
                    <a href="@Url.Action(ViewBag.Action, ViewBag.Controller, new { parametr = ViewBag.Parametr, page = ViewBag.Page - 1})" aria-label="Previous" data-pagination-request="@Url.Action(ViewBag.Action, ViewBag.Controller, new { parametr = ViewBag.Parametr, page = ViewBag.Page - 1})">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            }

            @if (ViewBag.PageCount < 10)
            {
                for (int i = 1; i <= ViewBag.PageCount; i++)
                {
                    if (i == ViewBag.Page)
                    {
                        <li class="active">
                            <span aria-hidden="true">@i</span>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a href="@Url.Action(ViewBag.Action, ViewBag.Controller, new { parametr = ViewBag.Parametr, page = i})" data-pagination-request="@Url.Action(ViewBag.Action, ViewBag.Controller, new { parametr = ViewBag.Parametr, page = i})">
                                @i<span class="sr-only">(current)</span>
                            </a>
                        </li>
                    }
                }
            }
            else if (ViewBag.Page < 5)
            {
                for (int i = 1; i <= 5; i++)
                {
                    if (i == ViewBag.Page)
                    {
                        <li class="active">
                            <span aria-hidden="true">@i</span>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a href="@Url.Action(ViewBag.Action, ViewBag.Controller, new { parametr = ViewBag.Parametr, page = i})" data-pagination-request="@Url.Action(ViewBag.Action, ViewBag.Controller, new { parametr = ViewBag.Parametr, page = i})">
                                @i<span class="sr-only">(current)</span>
                            </a>
                        </li>
                    }
                }
                <li class="disabled"><span aria-hidden="true">...</span></li>
                for (int i = ViewBag.PageCount - 5; i <= ViewBag.PageCount; i++)
                {
                    <li>
                        <a href="@Url.Action(ViewBag.Action, ViewBag.Controller, new { parametr = ViewBag.Parametr, page = i})" data-pagination-request="@Url.Action(ViewBag.Action, ViewBag.Controller, new { parametr = ViewBag.Parametr, page = i})">
                            @i<span class="sr-only">(current)</span>
                        </a>
                    </li>
                }
            }
            else if (ViewBag.Page > (ViewBag.PageCount - 4))
            {
                for (int i = 1; i <= 5; i++)
                {
                    <li>
                        <a href="@Url.Action(ViewBag.Action, ViewBag.Controller, new { parametr = ViewBag.Parametr, page = i})" data-pagination-request="@Url.Action(ViewBag.Action, ViewBag.Controller, new { parametr = ViewBag.Parametr, page = i})">
                            @i<span class="sr-only">(current)</span>
                        </a>
                    </li>
                }
                <li class="disabled"><span aria-hidden="true">...</span></li>
                for (int i = ViewBag.PageCount - 5; i <= ViewBag.PageCount; i++)
                {
                    if (i == ViewBag.Page)
                    {
                        <li class="active">
                            <span aria-hidden="true">@i</span>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a href="@Url.Action(ViewBag.Action, ViewBag.Controller, new { parametr = ViewBag.Parametr, page = i})" data-pagination-request="@Url.Action(ViewBag.Action, ViewBag.Controller, new { parametr = ViewBag.Parametr, page = i})">
                                @i<span class="sr-only">(current)</span>
                            </a>
                        </li>
                    }
                }
            }
            else
            {
                <li>
                    <a href="@Url.Action(ViewBag.Action, ViewBag.Controller, new { parametr = ViewBag.Parametr, page = 1})" data-pagination-request="@Url.Action(ViewBag.Action, ViewBag.Controller, new { parametr = ViewBag.Parametr, page = 1})">
                        1<span class="sr-only">(current)</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action(ViewBag.Action, ViewBag.Controller, new { parametr = ViewBag.Parametr, page = 2})" data-pagination-request="@Url.Action(ViewBag.Action, ViewBag.Controller, new { parametr = ViewBag.Parametr, page = 2})">
                        2<span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="disabled"><span aria-hidden="true">...</span></li>
                <li>
                    <a href="@Url.Action(ViewBag.Action, ViewBag.Controller, new { parametr = ViewBag.Parametr, page = (ViewBag.Page - 1)})" data-pagination-request="@Url.Action(ViewBag.Action, ViewBag.Controller, new { parametr = ViewBag.Parametr, page = (ViewBag.Page - 1)})">
                        @(ViewBag.Page - 1)<span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="active"><span aria-hidden="true">@ViewBag.Page</span></li>
                <li>
                    <a href="@Url.Action(ViewBag.Action, ViewBag.Controller, new { parametr = ViewBag.Parametr, page = (ViewBag.Page + 1)})" data-pagination-request="@Url.Action(ViewBag.Action, ViewBag.Controller, new { parametr = ViewBag.Parametr, page = (ViewBag.Page + 1)})">
                        @(ViewBag.Page + 1)<span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="disabled"><span aria-hidden="true">...</span></li>
                <li>
                    <a href="@Url.Action(ViewBag.Action, ViewBag.Controller, new { parametr = ViewBag.Parametr, page = (ViewBag.PageCount - 1)})" data-pagination-request="@Url.Action(ViewBag.Action, ViewBag.Controller, new { parametr = ViewBag.Parametr, page = (ViewBag.PageCount - 1)})">
                        @(ViewBag.PageCount - 1)<span class="sr-only">(current)</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action(ViewBag.Action, ViewBag.Controller, new { parametr = ViewBag.Parametr, page = ViewBag.PageCount})" data-pagination-request="@Url.Action(ViewBag.Action, ViewBag.Controller, new { parametr = ViewBag.Parametr, page = ViewBag.PageCount})">
                        @ViewBag.PageCount<span class="sr-only">(current)</span>
                    </a>
                </li>

            }

            @if (ViewBag.Page == ViewBag.PageCount)
            {
                <li class="disabled">
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            }
            else
            {
                <li>
                    <a href="@Url.Action(ViewBag.Action, ViewBag.Controller, new { parametr = ViewBag.Parametr, page = ViewBag.Page + 1})" aria-label="Next" data-pagination-request="@Url.Action(ViewBag.Action, ViewBag.Controller, new { parametr = ViewBag.Parametr, page = ViewBag.Page + 1})">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            }
        </ul>
    </nav>
}
