@model MyTube.BLL.BusinessEntities.VideoProxy

<div class="col-lg-3 col-md-4 co-xs-6 thumb">
    <a href="@Url.Action("Watch", "Video", new { id = Model.Id })" class="thumbnail">
        <img src="@Url.Content(Model.PosterUri)" class="img-show"/>
        <p><b>@Model.Name</b></p>
        <p>@Model.UploderUsername<br/>
        @Model.Views Views<br/>
        @Model.Uploaded.ToString(@"MM\/dd\/yyyy HH:mm")</p>
    </a>
</div>