@model IEnumerable<MyTube.BLL.DTO.CommentDTO>

<h3>@ViewBag.CommentCount comments</h3>

@foreach (MyTube.BLL.DTO.CommentDTO comment in Model)
{
    <div class="row">
        @comment.CommentatorAvatarUri
        <div class="col-md-2">
            <img src="@Url.Content(comment.CommentatorAvatarUri)"/>
        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-11">
                    <h4>@comment.CommentatorUsername</h4>
                </div>
                <div class="col-md-1">
                    <h4>@comment.CommentDateTime.ToString(@"MM\/dd\/yyyy HH:mm")</h4>
                </div>
            </div>
            <p>@comment.CommentText</p>
        </div>
    </div>
}

@Html.Partial("_Pagination")