@model MyTube.WEB.Models.RegisterViewModel

<div class="modal-container">
    <div class="modal-header">
        <h1>Register</h1>
    </div>
    <div class="modal-body">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "registerForm" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Username, new { @class = "control-label" })
                <div>
                    @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                    @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Email, new { @class = "control-label" })
                <div>
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                <div>
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                <div>
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>
            
            <div class="form-group">
                @Html.ActionLink("Sign up", "Register", "Account", new { area = "" }, new { @class = "btn btn-default btn-block", id = "registerBtn" })
            </div>
        }

    </div>
</div>